body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
 }

 footer {
    background: #2e2f42;
 }

 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
 }

h3 {
    font-weight: 500;
    font-size: 20px;
     line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }

ul,
ol {
    list-style-type: none;
 }

 a {
    text-decoration: none;
 }

/* header */

 .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
 }


 .logo .main-logo-head:hover,
 .logo .main-logo-head:active {
   color: #404BBF;
   text-decoration: underline;
 }

 .main-logo-head {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
 }

 
 .navigaion-help {
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
 }

 .navigaion-help:hover,
 .navigaion-help:focus {
   color: #404BBF;
 }

 .contacts-inform {
   font-style: normal;
 }

 .navigaion-lincs {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
 }

 .navigaion-lincs:hover,
 .navigaion-lincs:focus {
   color: #404BBF;
 }

/* main content */

 .hero-image {
    background: #2e2f42;
 }

 .title {
font-weight: 700;
   font-size: 56px;
   line-height: 1.07;
   letter-spacing: 0.02em;
   text-align: center;
   color: #fff;
 }

 .hero-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
   font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.04em;
      color: #fff;
 }

 .hero-button-text {
   
 }

 .hero-button:hover {
color: #404BBF;
 }

 .team {
    background: #f4f4fd;
 }

 .team-list {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
 }

 .team-list-text {
   font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }

/* footer */

 .main-logo-foot {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
  }

 .foter-text {
    font-weight: 400;
    font-size: 16px;    
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
  }

  .fot-text {
   color: #f4f4fd;
  }